
<div class="container">

<div class="login-div mx-auto ">
<div class="container">
<div class="login-logo mx-auto  pt-3">
<img src="../../img/login-logo.png" class="img-fluid"/>
</div>
<p class="login-heading text-center mt-3">
Sign in with your existing Account
</p>


<form action="/userLogin" method="post">
 

  <div class="container">
    <div class="input-group  mt-5 pb-2">
    <label for="uname"><img src="../../img/vector.png" class="login-icon "></label>
    <input type="text" placeholder="Enter Username" name="uname" class="ms-3 p1" required>
    </div>

    <div class="input-group mt-5 pb-2">
    <label for="psw"><img src="../../img/vector1.png" class="login-icon"></label>
    <input type="password" placeholder="Enter Password" name="psw" class="ms-3 p1" required>
    </div>

    <button type="submit" class="btn login-btn mt-5">Sign In</button>
   
       <p class="p1 p2 mt-1">Don't have an account? 
       <a href="#!userSignUp" class="ms-2">Sign up now</a>
       </p>
   
   <div class="p1 mt-5">
   <a href="#">Forgot your password?</a>
   </div>
   
   <div class="mt-2">
   <a href="#">Administator</a>
   <a href="#" class="ms-4">Reporter</a>
   </div>
   
   
  </div>


  
</form>


</div>

</div>
</div >